<html>
    <head>
        <title>Verify Email</title>
    </head>
    <body>
        Please enter the following OTP in the Comet App
        <br /><br />
        <b><%= otp %></b>
        <br /><br />
        Thanking you,<br />
        Team Comet!
    </body>
</html>
