<html>
    <head>
        <title>Welcome to Comet!</title>
    </head>
    <body>
        Thanks for joining Comet. Share and explore content, recommended by your friends.
        <br /><br />
        For more information, checkout <a href="https://cometclub.today/" target="_blank">Comet</a>.
        <br /><br />
        Thanking you,<br />
        Team Comet!
    </body>
</html>
